<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="google" value="notranslate">
    <title>pullup security component</title>
    <style>

    </style>
</head>
<body>
<div class="col-lg-12" style="margin-top:50px">
    <div class="p-5">
        <form class="user">
            <div class="form-group">
                <input class="form-control form-control-user" type="password" id="password" placeholder="`+t+`" name="password" />
            </div>
            <button class="btn btn-primary btn-block text-white btn-user" type="button" onclick="external.invoke('setPassword:'+document.getElementById('password').value)">`+b+`</button>
        </form>
    </div>
</div>
</body>
</html>