<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="google" value="notranslate">
    <link rel="shortcut icon" href="icon.png" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <title>Contract - SERO</title>
    <link rel="stylesheet" href="../../assets/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="../../assets/fonts/fontawesome-all.min.css">
</head>

<body id="page-top">
<div id="wrapper">
    <div class="d-flex flex-column" id="content-wrapper">
        <div id="content">
            <nav class="navbar navbar-light navbar-expand fixed-top bg-info shadow mb-4 topbar static-top">
                <div class="container-fluid"><button class="btn btn-link d-md-none rounded-circle mr-3" id="sidebarToggleTop" type="button"><i class="fas fa-bars"></i></button>
                    <ul class="nav navbar-nav">
                        <li class="nav-item" role="presentation"><a class="nav-link" href="../../index.html">Home</a></li>
                        <li class="nav-item" role="presentation"><a class="nav-link" href="../../transfer.html">Send</a></li>
                        <li class="nav-item" role="presentation"><a class="nav-link" href="../../stake.html">Stake</a></li>
                        <li class="nav-item" role="presentation"><a class="nav-link text-light" href="dashboard.html">Contract</a></li>
                    </ul>
                    <span class="d-none d-lg-inline text-light mr-2 language">English</span>
                </div>
            </nav>
            <div class="container-fluid" style="margin-top: 100px">
                <div class="d-sm-flex justify-content-between align-items-center mb-4">
                    <h5 class="text-dark mb-0">CONTRACTS</h5>
                </div>
                <div class="row">
                    <div class="col-md-4 col-xl-4 mb-4">
                        <div class="card shadow border-left-info py-2">
                            <div class="card-body">
                                <div class="row align-items-center no-gutters">
                                    <div class="col mr-2 leftShareNum">
                                        <div class="text-uppercase text-info font-weight-bold text-xs mb-1"><span>Contract1</span></div>
                                        <div class="text-dark font-weight-bold h5 mb-0"><span>0</span> SERO</div>
                                        <div class="text-gray h5 mb-0"><small>2WmCVyQhdvPmEEuR...</small></div>
                                    </div>
                                    <div class="col-auto"><i class="fas fa-file-contract fa-2x text-gray-300"></i></div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4 col-xl-4 mb-4">
                        <div class="card shadow border-left-info py-2">
                            <div class="card-body">
                                <div class="row align-items-center no-gutters">
                                    <div class="col mr-2 leftShareNum">
                                        <div class="text-uppercase text-info font-weight-bold text-xs mb-1"><span>Contract1</span></div>
                                        <div class="text-dark font-weight-bold h5 mb-0"><span>0</span> SERO</div>
                                        <div class="text-gray h5 mb-0"><small>2WmCVyQhdvPmEEuR...</small></div>
                                    </div>
                                    <div class="col-auto"><i class="fas fa-file-contract fa-2x text-gray-300"></i></div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12 col-xl-12 mb-12">
                        <button class="btn btn-outline-info btn-block"><i class="fa fa-plus"></i><span class="register text-uppercase"> Deploy New Contract</span></button>
                    </div>
                </div>
            </div>
            <p></p>
            <div class="container-fluid">
                <div class="d-sm-flex justify-content-between align-items-center mb-4">
                    <h5 class="text-dark mb-0">CUSTOM CONTRACTS</h5>
                </div>
                <div class="row">
                    <div class="col-md-4 col-xl-4 mb-4">
                        <div class="card shadow border-left-info py-2">
                            <div class="card-body">
                                <div class="row align-items-center no-gutters">
                                    <div class="col mr-2 leftShareNum">
                                        <div class="text-uppercase text-info font-weight-bold text-xs mb-1"><span>Contract1</span></div>
                                        <div class="text-dark font-weight-bold h5 mb-0"><span>0</span> SERO</div>
                                        <div class="text-gray h5 mb-0"><small>2WmCVyQhdvPmEEuR...</small></div>
                                    </div>
                                    <div class="col-auto"><i class="fas fa-paperclip fa-2x text-gray-300"></i></div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4 col-xl-4 mb-4">
                        <div class="card shadow border-left-info py-2">
                            <div class="card-body">
                                <div class="row align-items-center no-gutters">
                                    <div class="col mr-2 leftShareNum">
                                        <div class="text-uppercase text-info font-weight-bold text-xs mb-1"><span>Contract1</span></div>
                                        <div class="text-dark font-weight-bold h5 mb-0"><span>0</span> SERO</div>
                                        <div class="text-gray h5 mb-0"><small>2WmCVyQhdvPmEEuR...</small></div>
                                    </div>
                                    <div class="col-auto"><i class="fas fa-paperclip fa-2x text-gray-300"></i></div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12 col-xl-12 mb-12">
                        <button class="btn btn-outline-info btn-block"><i class="fa fa-plus"></i><span class="register text-uppercase"> Watch Contract</span></button>
                    </div>
                </div>
            </div>
        </div>
        <p></p>

        <div class="container-fluid">
            <div class="d-sm-flex justify-content-between align-items-center mb-4">
                <h5 class="text-dark mb-0">CUSTOM TOKENS</h5>
            </div>
            <div class="row">
                <div class="col-md-4 col-xl-4 mb-4">
                    <div class="card shadow border-left-info py-2">
                        <div class="card-body">
                            <div class="row align-items-center no-gutters">
                                <div class="col mr-2 leftShareNum">
                                    <div class="text-uppercase text-info font-weight-bold text-xs mb-1"><span>Contract1</span></div>
                                    <div class="text-dark font-weight-bold h5 mb-0"><span>0</span> SERO</div>
                                    <div class="text-gray h5 mb-0"><small>2WmCVyQhdvPmEEuR...</small></div>
                                </div>
                                <div class="col-auto"><i class="fab fa-bitcoin fa-2x text-gray-300"></i></div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-4 col-xl-4 mb-4">
                    <div class="card shadow border-left-info py-2">
                        <div class="card-body">
                            <div class="row align-items-center no-gutters">
                                <div class="col mr-2 leftShareNum">
                                    <div class="text-uppercase text-info font-weight-bold text-xs mb-1"><span>Contract1</span></div>
                                    <div class="text-dark font-weight-bold h5 mb-0"><span>0</span> SERO</div>
                                    <div class="text-gray h5 mb-0"><small>2WmCVyQhdvPmEEuR...</small></div>
                                </div>
                                <div class="col-auto"><i class="fab fa-bitcoin fa-2x text-gray-300"></i></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12 col-xl-12 mb-12">
                    <button class="btn btn-outline-info btn-block"><i class="fa fa-plus"></i><span class="register"> Watch TOKENS</span></button>
                </div>
            </div>
        </div>
    </div>
    </div>
    <a class="border rounded d-inline scroll-to-top" href="#page-top"><i class="fas fa-angle-up"></i></a>
</div>
<!-- Modal -->
<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="modalLongTitle"></h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body text-center">
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary">Confirm</button>
            </div>
        </div>
    </div>
</div>

<script src="../../assets/plugin/jquery.min.js"></script>
<script src="../../assets/bootstrap/js/bootstrap.min.js"></script>
<script src="../../assets/js/theme.js"></script>
<script type="text/javascript" src="../../assets/plugin/jquery.i18n.properties.js"></script>
<script type="text/javascript" src="../../assets/plugin/jquery.cookie.js"></script>
<script type="text/javascript" src="../../assets/plugin/datatables.min.js"></script>
<script src="../../assets/plugin/jquery.qrcode.min.js"></script>
<script src="../../assets/plugin/clipboard.min.js"></script>
<script src="../../assets/plugin/bignumber.js"></script>
<script src="../../assets/js/common.js"></script>
<script src="../../assets/js/contract.js"></script>

<script>

    Common.app = StakeHome;

    Common.init();


</script>

</body>

</html>